.compact-table td, .compact-table th {
    padding: 0.25rem;
    vertical-align: middle;
}

.table-scroll {
    max-height: 800px; /* Adjust as needed */
    overflow-y: auto;
}
.highlight-table-row {
  font-weight: bold;
}
